/*----------------------------------------------------------------------------
  Animations
----------------------------------------------------------------------------*/
$animate: 0.2s;


/*----------------------------------------------------------------------------
  Colors
----------------------------------------------------------------------------*/
$gray20: #e7e7e7;
$gray30: #d3d3d3;
$gray40: #A0A0A0;
$gray60: #8c8c8c;
$gray70: #858585;
$gray90: #3b3f47;


/*----------------------------------------------------------------------------
  Font Families
----------------------------------------------------------------------------*/
$font1: 'Arial', sans-serif;
$fontroboto: 'Roboto', sans-serif;


/*----------------------------------------------------------------------------
  Font Sizes
----------------------------------------------------------------------------*/
// The base size for this site is 14px
$size05: 0.357rem;
$size06: 0.429rem;
$size07: 0.5rem;
$size08: 0.571rem;
$size10: 0.714rem;
$size11: 0.786rem;
$size12: 0.857rem;
$size13: 0.929rem;
$size14: 1.0rem;
$size15: 1.071rem;
$size16: 1.143rem;
$size17: 1.214rem;
$size18: 1.286rem;
$size19: 1.357rem;
$size20: 1.429rem;
$size21: 1.5rem;
$size22: 1.571rem;
$size24: 1.714rem;
$size26: 1.857rem;
$size28: 2.0rem;
$size30: 2.143rem;
$size32: 2.286rem;
$size34: 2.429rem;
$size36: 2.571rem;
$size38: 2.714rem;
$size40: 2.857rem;
$size42: 3.0rem;
$size44: 3.143rem;
$size46: 3.286rem;
$size48: 3.429rem;
$size50: 3.571rem;
$size52: 3.714rem;
$size54: 3.857rem;
$size56: 4.0rem;
$size58: 4.143rem;


/*----------------------------------------------------------------------------
  Font Weights
----------------------------------------------------------------------------*/
// ARIAL
//   400 Normal (aka Regular)
//   700 Bold

/*----------------------------------------------------------------------------
  Inputs
----------------------------------------------------------------------------*/
$text: 'text';
$email: 'email';
$number: 'number';

/*----------------------------------------------------------------------------
  Overlays
----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------
  Responsive Breakpoints
----------------------------------------------------------------------------*/
$troosevelt: 321px;
$taft: 376px;
$wilson: 415px;
$harding: 480px;
$coolidge: 550px;
$hoover: 620px;
$froosevelt: 680px;
$truman: 768px;  //
$eisenhower: 800px;
$kennedy: 850px;
$johnson: 900px;
$nixon: 992px;  //
$ford: 1024px;
$carter: 1100px;
$reagan: 1200px;  //
$hbush: 1300px;
$clinton: 1400px;
$wbush: 1500px;
$obama: 1600px;
